*{
  @include transition(all .3s linear);
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
/*--------------------------------------------------------------
# Global Style
--------------------------------------------------------------*/
p{
  @include clearfix();
}

/*--------------------------------------------------------------
# Bootstrap Overright
--------------------------------------------------------------*/
@media (min-width: 1200px){
  .container {
      max-width: 1200px;
  }
}

/*--------------------------------------------------------------
# Common Styles
--------------------------------------------------------------*/
$width:50px;
$height:1px;
.border-bottom{
  position: relative;
  border-bottom: $height solid $color-light;
  padding-bottom: 10px;

  &:after{
    content: '';
    width: $width;
    height: $height;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: $color-primary;
  }
}
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.lb-btn{

}

.lb-badge-primary{
  padding: 4px 10px 2px;
  border-radius: 50px;
  font-size: 14px;
  border: 1px solid $color-primary;
  color: $color-primary;
  background-color: transparent;
  display: inline-block;
  line-height: normal;

  &:hover{
    background: $color-primary;
    color: #ffffff;
  }
}

/*--------------------------------------------------------------
# Posts
--------------------------------------------------------------*/
.blog article{
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid $color-light;
}
.entry-header{
  margin-bottom: 30px;
}

.post-thumbnail{
  margin-bottom: 30px;
  @include border-radius(5px);
  overflow: hidden;
  img{
    width: 100%;
    @include border-radius(5px);
  }
}

.blur-img{
  //height:450px;
  overflow: hidden;
  img{
    filter: blur(100px);
  }
}

.img-hover{
  display: block;
  line-height: 0;
  overflow: hidden;
  img{
    width: 100%;
    @include border-radius(5px);
    @include transition(all 1s linear);
  }

  &:hover{
    img{
      @include transform (scale(1.5) rotate(10deg));
    }
  }
}

.entry-meta{
  > span{
    padding-right: 15px;
  }
}
.post-author{
  .avatar{
    @include border-radius(100%);
  }
  .author{
    padding-left: 10px;
  }
}

.posted-on,
.cat-links,
.comments-link{
  i{
    font-size: 21px;
    vertical-align: middle;
  }
}

.entry-footer{
  margin-top: 30px;
}

.tags-links{
  a, .tag-title{
    color: $color-dark;
    font-size: 14px;
    display: inline-block;
    padding: 3px 10px 0 10px;
    margin-right: 5px;
    line-height: normal;
    @include border-radius(50px);
    border: 1px solid $color-secondary;
  }

  a:hover{
    border-color: $color-primary;
  }

  .tag-title{
    background: $color-secondary;
    color: white;
  }
}

.post-navigation{
  .nav-links{
    display: flex;

    .nav-previous,
    .nav-next{
      border:1px solid $color-light;
      a{
        padding:20px;
        display: block;
      }
    }
  }
}

@media (max-width:767.5px){
  .entry-meta{
    flex-direction: column;
    align-items: flex-start !important;
  }

  .post-navigation{
    .nav-links{
      flex-direction: column;

      .nav-previous,
      .nav-next{
        border:1px solid $color-light;
        width: 100%;
        text-align: left;
        a{
          padding:20px;
          display: block;
        }
      }
    }
  }
}

.lb-comments{
  margin-top: 80px;

  ol{
    list-style-type: none;
    padding:0;

    li{
      .comment-body{
        border-bottom: 1px solid $color-light;
        padding:30px 0;

        .comment-author{
          display: flex;
          align-items: center;

          .avatar{
            @include border-radius(100%);
            margin-right: 10px;
          }

          .fn{
            margin-right: 10px;
          }
        }

        .comment-metadata{
          margin: 15px 0;
          a{
            font-size: 14px;
          }
        }

        .reply{
          a{
            @include border-radius(50px);
            border: 1px solid $color-primary;
            padding: 3px 10px;
            line-height: normal;
            font-size: 14px;
            color: $color-primary;

            &:hover{
              color: #ffffff;
              background-color: $color-primary;
            }
          }
        }
      }
    }
  }
}

.comment-respond{
  margin-top: 50px;
}
