button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color-primary;
	border-radius: 3px;
	background: $color-primary;
	color: #fff;
	line-height: 1;
	padding: 15px;
	cursor: pointer;

	&:hover {
		background: darken($color-primary, 5%);
	}

	&:active,
	&:focus {
		border-color: darken($color-primary, 5%);
		outline: none;
	}
}
