aside#secondary{
	padding-left: 30px;
}

@media (max-width:991.5px){
	aside#secondary{
		padding-left: 15px;
		margin-top: 50px;
	}
}

.widget {
	margin: 0 0 50px;

	ul{
		list-style-type: none;
		padding: 0;
	}

	.widget-title{
		margin-bottom: 20px;
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

// Search Form
.widget .search-form{
	display: flex;

	.search-field{
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.search-submit{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: -1px;
	}
}

@media (max-width:991.5px){
	.widget .search-form{
		flex-direction: column;

		.search-field{
			width: 100%;
			@include border-radius(3px);
		}

		.search-submit{
			@include border-radius(3px);
			margin:15px 0 0 0;
		}
	}
}
