.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

// Search Form
.widget .search-form{
	display: flex;

	.search-field{
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.search-submit{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: -1px;
	}
}
