/*------------------------------------
  Colors
------------------------------------*/
$color-primary:#fd4656;
$color-secondary:#646f79;
$color-dark:#212529;
$color-light:#e8e8e8;
$color-info:#7d5fff;
/*------------------------------------
  Font Family
------------------------------------*/
$base-font: 'Noto Sans Bengali', sans-serif;
$icon-font: "LineAwesome";

/*------------------------------------
  Font Settings
------------------------------------*/
$base-font-size:18px;
$font-weight-regular:400;
$font-weight-bold:700;
$base-line-height:30px;
$base-font-color:$color-dark;
